/* *, ::after, ::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #2e4c7d;
  --secondary-color: #1d1348;
  --accent-color: #fdd835;
  --text-color: #1e1e1e;
  --bg-color: #e4f5ff;
  --card-bg: #ffffff;

  --dark-bg-color: #1e1e1e;
  --dark-text-color: #f0f0f0;

  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --radius: 12px;
  --sizeHeader: 70px;
}

:root {
  --header-bg: #ffffff;
  --active-btn-bg: #2e4c7d;
  --active-btn-color: #ffffff;
  --active-btn-border: #1d1348;
  
  --btn-bg: #ffffff;
  --btn-border: #cccccc;

  --btn-hover-bg: #f0f0f0;
  --active-btn-hover-bg: #1d1348;
}

:root {
  --bg-calculator: #202020;
  --bg-display: #000000;
  --bg-button: #333333;
  --bg-button-hover: #444444;
  --bg-accent: #ff9800;
  --bg-accent-hover: #e68900;
  --text-main: #ffffff;
  --text-secondary: #a5a5a5;
  --text-result: #4caf50;
  --text-inverse: #000000;
  --font-family: 'Arial', sans-serif;
  --fs-base: 1.2rem;
  --fs-large: 2rem;
  --spacing-base: 20px;
  --spacing-gap: 12px;
  --radius-large: 20px;
  --radius-small: 10px;
  --shadow-main: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

:root{
  --color-danger: #e74c3c;        
  --color-danger-hover: #c0392b;  
  --color-focus: #007bff;         
  --color-focus-shadow: rgba(0, 123, 255, 0.2);
  
 
  --input-bg: #ffffff;
  --input-border: #cccccc;       
  --form-bg: #f9f9f9;             
  
  
  --code-bg: #282c34;
  --code-text: #abb2bf;
}


body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
 */
